* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(212, 45%, 89%);
}

@media only screen and (max-width: 375px) {
    div.principal  {
        margin: 100px 20px;
        background-color: white;
        position: relative;
        border-radius: 22px;
        width: auto;
        height: 85vh;
    }

    img {
        height: 50vh;
        margin: 17px 14px;
        border-radius: 12px; 
        /* Falta fazer a imagem diminuir conforme a width do dispositivo diminui de 375 */
    }

    div.text {
        text-align: center;
        font-family: "Outfit";
    }

    h1 {
        color: hsl(218, 44%, 22%);
        font-size: 1.4em;
    }

    p {
        font-size: 0.97em;
        color: hsl(220, 15%, 55%);
        font-weight: 400;
        margin-top: 20px;
    }
}