* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: "Outfit";
}

@media only screen and (max-width: 375px) {
    div.principal  {
        display: flex;
        flex-direction: column;
        /* justify-content: right; */
        align-items: center;
        margin: 50px 20px;
        background-color: white;
        position: relative;
        border-radius: 22px;
        min-width: 335px;
        height: 78vh;
        padding-bottom: 35px; 
    }

    img {
        height: 50vh;
        margin: 17px 14px 10px;
        border-radius: 12px; 
        max-width: 90vw;
    }

    h1 {
        color: hsl(218, 44%, 22%);
        font-size: 1.4em;
        padding-top: 10px;
    }

    p {
        font-size: 0.97em;
        color: hsl(220, 15%, 55%);
        font-weight: 400;
        margin-top: 20px;
    }
}